.nftEditMain {
    margin-top: 7%;
}
.nftEditImg {
    width: 450px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
}
.nftInfoMain {
    display: flex;
}
.nftPriceImg {
    width: 35px;
    margin: 0 7px 3px 0;
}
.nftPriceLine {
    color: rgba(104, 104, 104, 0.54);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    font-family: sans-serif;
}
.nftTitle {
    font-size: 40px;
    font-family: sans-serif;
}
.nftCollection {
    font-size: 20px;
    color: rgba(180, 38, 38, 0.589);
    font-family: sans-serif;
}
.collectionImg {
    width: 20px;
    margin-left: 5px;
}
.nftInfo {
    margin: 2% 0 0 8%;
}
.nftPrice {
    margin-top: 40px;
}
.nftDolers {
    color: rgba(104, 104, 104, 0.54);
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    margin: 0 0 0 15px;
    font-family: sans-serif;
}
.nftTimer {
    margin: 2% 5%;
}
.timerEnd {
    color: rgba(0, 0, 0, 0.652);
    font-size: 15px;
    font-family: sans-serif;
}
.myTimer {
    float: right;
}
.nftBidBuyBtn {
    margin: 10% 0%;
}
.nftBidBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 12px 100px 12px 100px;
    margin-right: 8px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.nftBidBtn:hover {
    background-color: rgb(236, 126, 48);
}
.nftBuyBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 12px 100px 12px 100px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.nftBuyBtn:hover {
    background-color: rgb(236, 126, 48);
}
.nftEditDeleteBtn {
    margin-top: 2%;
}
.nftEditBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    margin-right: 10px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.nftEditBtn:hover {
    background-color: rgb(236, 126, 48);
}
.nftDeleteBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.nftDeleteBtn:hover {
    background-color: rgb(236, 126, 48);
}
.nftDescriptionTitle {
    margin-top: 3%;
    font-size: 20px;
    font-family: sans-serif;
}
.nftDescription {
    background-color: transparent;
    width: 100%;
    resize: none;
    border: none;
    font-size: 15px;
    scroll-behavior: none;
    height: 250px;
    outline: none;
}
.details {
    margin-top: 40px;
}
.nftDetails {
    font-size: 20px;
    font-family: sans-serif;
}
.nftCreator {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.652);
    font-family: sans-serif;
}
.nftCreatorEmail {
    float: right;
    color: rgba(0, 0, 0, 0.773);
    font-family: sans-serif;
    font-weight: bold;
}
.nftNetwork {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.652);
    font-family: sans-serif;
}
.nftNetworkInfo {
    float: right;
    color: rgba(0, 0, 0, 0.773);
}
.nftCollection2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.652);
    font-family: sans-serif;
}
.nftCollectionInfo {
    float: right;
    color: rgba(0, 0, 0, 0.773);
}
.bidHistory {
    margin: 0% 42.6%;
    width: 50%;
}
.bidOffers {
    margin: 2% 42.6%;
    width: 50%;
}
.noItems {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 20px 0;
}
.noItemsImg {
    width: 60px;
    margin-left: 295px;
}
.noItemsHeading {
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
}
.bidHistoryHeading {
    font-size: 22px;
    font-family: sans-serif;
}
.bidOffersHeading {
    font-size: 22px;
    font-family: sans-serif;
}
.bidInfo {
    margin-top: 3%;
}
@media only screen and (min-width: 768px) {
    .nftBuyBtn {
        width: 94%;
        margin-top: 2%;
    }
    .description {
        margin-top: -45%;
        width: 40%;
    }
    .details {
        margin-top: 40px;
        width: 60%;
    }
}
@media only screen and (min-width: 600px) {
    .nftBuyBtn {
        width: 45%;
        margin-top: 2%;
    }
    .details {
        margin-left: 20%;
    }
    .nftEditImg {
        width: 450px;
        height: 350px;
        margin-top: 5%;
        margin-left: 18%;
        border-radius: 10px;
        box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    }
    .nftInfoMain {
        display: inline;
    }
    .description {
        margin-top: -49%;
        width: 40%;
    }
    .nftEditBtn {
        width: 30%;
        margin-left: 20%;
    }
    .nftDeleteBtn {
        width: 30%;
    }
    .nftPrice {
        margin-left: 45%;
        margin-top: -13%;
    }
    .nftInfo {
        margin-top: 10%;
    }
    .noItemsImg {
        width: 60px;
        margin-left: 42%;
    }
}

@media only screen and (max-width: 600px) {
    .nftInfoMain {
        display: flex;
    }
    .nftInfoMain {
        display: inline;
    }
    .nftEditImg {
        width: 450px;
        height: 350px;
        margin-top: 20%;
        margin-left: 1%;
        border-radius: 10px;
        box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    }
    .nftBuyBtn {
        width: 64%;
        margin-top: 2%;
    }
    .bidHistory {
        width: 90%;
        margin: 5%;
    }
    .bidOffers {
        width: 90%;
        margin: 5%;
    }
    .noItemsImg {
        width: 60px;
        margin-left: 43%;
    }
    .details {
        margin-top: 40px;
        margin-left: 5%;
        width: 90%;
    }
    .nftEditBtn {
        width: 30%;
        margin-left: 20%;
    }
}
@media only screen and (min-width: 992px) {
    .nftInfoMain {
        display: flex;
    }
    .description {
        margin-top: -37%;
        width: 40%;
    }
    .nftBuyBtn {
        width: 63%;
        margin-top: 2%;
    }
    .details {
        margin-top: 40px;
        width: 41%;
        margin-left: 0;
    }
    .nftEditBtn {
        width: 15%;
        margin-left: 0%;
    }
    .nftDeleteBtn {
        width: 15%;
        margin-left: 0%;
    }
    .nftEditImg {
        width: 450px;
        height: 350px;
        margin-top: 0%;
        margin-left: 0%;
        border-radius: 10px;
        box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    }
    .nftPrice {
        margin-left: 0%;
        margin-top: 7%;
    }
    .nftInfo {
        margin-top: 0%;
    }
    .noItemsImg {
        width: 60px;
        margin-left: 44%;
    }
    .nftDescription{
        height: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    .nftBuyBtn {
        width: 46%;
    }
    .description {
        margin-top: -28%;
        width: 35%;
    }
    .details {
        margin-top: 40px;
        width: 35%;
    }
    .noItemsImg {
        width: 60px;
        margin-left: 45%;
    }
    .nftDescription{
        height: 200px;
    }
}

/*------------------------------------------------------ Edit Modal -----------------------------------------------------------------------------*/

.editModal {
    padding: 5%;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
}
.exitBtn{
    float: right;
    border: none;
    margin-top: -20px;
    background-color: transparent;
    font-size: 20px;
}
.exitBtn:hover{
    color: rgb(193, 87, 22);
}
.editNftHeading {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.editBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    margin-top: 2%;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.editBtn:hover {
    background-color: rgb(236, 126, 48);
}
.deleteModal {
    padding: 6% 4%;
    text-align: center;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
}
.deleteModalHeading {
    font-size: 20px;
    margin-top: 2%;
}
.deleteModalBtn {
    background-color: rgb(209, 89, 4);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    margin-top: 2%;
    transition: all 0.5s ease 0s;
    letter-spacing: 1px;
}
.deleteModalBtn:hover {
    background-color: rgb(236, 126, 48);
}
